
.VerticalScrollBar ul
{
  width: 250px;
    background-color: rgb(202, 207, 209);
    overflow-y:scroll;
    height:94vh;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.VerticalScrollBar ul li{
    padding: 10px;
    box-sizing: border-box;
    font-weight: 500;
    width: 250px;
    list-style-type: none;
    border: 1px solid black;
}